# ignore all binaries
bin/
!bin/.gitkeep

# ignore all lib
lib/
!lib/.gitkeep

# ignore all build artifacts
*.o
*.obj
*.exe
*.dll
*.lib

# ignore hidden directories
.vscode/
.git/

# ignore all personl files
Makefile
ideas.md
TODO.md